Hello/WebContent/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="controlloAutorizzazione">
    <complexType>
     <sequence>
      <element name="Username" type="xsd:string"/>
      <element name="Password" type="xsd:string"/>
      <element name="Servizio" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="controlloAutorizzazioneResponse">
    <complexType>
     <sequence>
      <element name="controlloAutorizzazioneReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="controlloAutorizzazioneResponse">

      <wsdl:part element="impl:controlloAutorizzazioneResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="controlloAutorizzazioneRequest">

      <wsdl:part element="impl:controlloAutorizzazione" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="controlloAutorizzazione">

         <wsdl:input message="impl:controlloAutorizzazioneRequest" name="controlloAutorizzazioneRequest">

       </wsdl:input>

         <wsdl:output message="impl:controlloAutorizzazioneResponse" name="controlloAutorizzazioneResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="controlloAutorizzazione">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="controlloAutorizzazioneRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="controlloAutorizzazioneResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/Hello/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
